.Home-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0% 12%;
    gap: 20px;
    color: #fff;
    margin-top: 150px;
}
.Home-menu {
    flex: 1;
    font-weight: 800;
    font-size: 1.3vw;
    border-radius: 10px;
    background-color: #000000;
    text-transform: uppercase;
    padding: 5px;
   
}
.Home-menu ul {
    padding: 0px 40px;
  }
.Home-menu ul li.active-item {
    color: #ec0808;
}

.Home-menu ul li {
    line-height: 35px;
    transition: color 0.3s ease;
}
.Home-menu ul li:hover {
    color: #ec0808;
    cursor: pointer;
}


.Home-information {
    flex: 3;
    /* border: 0.5px solid #fff; */
    padding: 4px;
}





 /* Responsive design */
 @media (max-width: 1024px) {
    .Home-menu {
        display: none;
     }

  
  }