.other-projects-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.other_projectsImage_testing {
    width: 100%;
    max-width: 600px; /* Prevent the image from becoming too large */
    min-width: 250px;
    height: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 7px; /* Smooth rounded edges */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add depth with a shadow */
    transition: transform 0.4s ease, filter 0.4s ease; /* Smooth transition effects */
    filter: brightness(1.1) contrast(1.2); /* Enhance colors */
}