.footer-container {
    color: #fff;
    padding: 0px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-info{
    background-color: #000000;
    border-radius: 10px;
    padding: 10px 10px;
}